<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Platform</th>
            <th>Modify</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for case in cases %}
        <tr>
            <td><a href="/cases/modify?id={{ case['id'] }}">{{ case['name'] }}</a></td>
            <td><a href="/cases/list?platform={{ case['platform_id'] }}">{{ case['platform_name'] }}</a></td>
            <td></td>
            <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>