<html>
{% extends "layout.html" %}
{% block content %}
<table width=100%>
        <tr>
            <td>
                <div style="float:left;width:25%;">
                    {% if expense[0]['id'] != 1 %}<a href = "/expense/describe?id={{ expense[0]['id'] - 1 }}">Previous expense</a>{% endif %}
                </div>
                <div align="right" style="float:right;width:25%;">
                    {% if expense[0]['id'] != max_expense['id'] %}<a href = "/expense/describe?id={{ expense[0]['id'] + 1 }}">Next expense</a>{% endif %}
                </div>
            </td>
        </tr>
</table>
<table class="blueTable">
    <thead>
        <tr>
            <th>ID</th> 
            <th>Name</th>
            <th>Date</th> 
            {% if expense[0]['type'] == 1 %}<th>Milage</th>{% endif %}
            {% if expense[0]['type'] == 2 %}<th>Price</th>{% endif %}
            <th>Type</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ expense[0]['id'] }}</td>
            <td>{{ expense[0]['name'] }}</td>
            <td>{{ expense[0]['date'] }}</td>
            {% if expense[0]['type'] == 1 %}<td>{{ expense[0]['milage'] }}</td>{% endif %}
            {% if expense[0]['type'] == 2 %}<td>{{ expense[0]['price'] }}</td>{% endif %}
            <td>{{ expense[0]['type'] }}</td>
            <td>{{ expense[0]['image'] }}</td>
            <td><a href = "/expense/modify?id={{ expense[0]['id'] }}">Modify</a></td>
        </tr>
    </tbody>
</table>
<br>
{% endblock content %}
</html>