<html>
{% extends "layout.html" %}
{% block content %}
<table width=100%>
        <tr>
            <td>
                <div style="float:left;width:25%;">
                    {% if expense['id'] != 1 %}<a href = "/expense/describe?expense={{ expense['id'] - 1 }}">Previous expense</a>{% endif %}
                </div>
                <div align="right" style="float:right;width:25%;">
                    {% if expense['id'] != max_expense['id'] %}<a href = "/expense/describe?expense={{ expense['id'] + 1 }}">Next expense</a>{% endif %}
                </div>
            </td>
        </tr>
</table>
<table class="blueTable">
    <thead>
        <tr>
            <th>ID</th> 
            <th>Name</th>
            <th>Date</th> 
            {% if expense['type'] == 1 %}<th>Milage</th>{% endif %}
            {% if expense['type'] == 2 %}<th>Price</th>{% endif %}
            <th>Type</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ expense['id'] }}</td>
            <td>{{ expense['name'] }}</td>
            <td>{{ expense['date'] }}</td>
            {% if expense['type'] == 1 %}<th>{{ expense['milage'] }}</th>{% endif %}
            {% if expense['type'] == 2 %}<th>{{ expense['price'] }}</th>{% endif %}
            <td>{{ expense['type'] }}</td>
            <td>{{ expense['image'] }}</td>
            <td><a href = "/expense/modify?expense={{ expense['id'] }}">Modify</a></td>
        </tr>
    </tbody>
</table>
<br>
{% endblock content %}
</html>