<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Price</th>
            <th>Profit</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for group in all_groups %}
        {% if group['name'] != 'None' %}
            {% set profit = 0 %}
            {% for group_net in groups %}
                {% if group_net['id'] == group['id'] %} 
                    {{ group_net['id'] }}
                    {{ group['id'] }}  
                    {% set profit = group_net['net'] - group_net['price'] %}
                {% endif %}
            {% endfor %}
            <tr>
                <td><a href = "/groups/describe?group_id={{ group['id'] }}">{{ group['name'] }}</td>
                <td>{{ group['price'] }}</td>
                <td>{{ profit }}</td>
                <td>{{ group['date'] }}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>