<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Location</th>
            <th>Price</th>
            <th>Expense</th>
            <th>Profit</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        {% if group['name'] != 'None' %}
            {% if float(group['net']) - float(group['price']) < 0 %}
                {% set color = 'red' %}
            {% elif float(group['net']) - float(group['price']) > 0 %}
                {% set color = 'green' %}
            {% else %}
                {% set color = 'black' %}
        {% endif %}
        <tr>
            <td><a href = "/groups/describe?group_id={{ group['id'] }}">{{ group['name'] }}</td>
            <td>{{ group['location'] }}</td>
            <td>{{ group['price'] }}</td>
            <td>{{ group['expense'] }}</td>
            <td><font color = {{ color }}>{{group['net'] - group['price']}}</font></td>
            <td>{{ group['date'] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>