<HTML>
{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    <H1>Enter Group Information </H1> <br>
    <table><tr><td>
    Date <input type = "text" name= "date" />
    </td></tr><tr><td>
    Location
    <select name="location">
        <option value="garage">garage</option>
        <option value="online">online</option>
        <option value="pawn">pawn</option>
        <option value="store">Store</option>
        <option value="thrift">thrift</option>
    </select>
    </td></tr><tr><td>
    Items <input type = "text" name= "items" />
    </td></tr><tr><td>
    <input type = "submit">
    </td></tr><tr></table>
</form>
{% endblock content %}
</HTML>