<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Location</th>
            <th>Price</th>
            <th>Expense</th>
            <th>Profit</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        {% if group['name'] != 'None' %}
            {% if not group['net'] %}
                {% set profit = 0 %}
            {% else %}
                {% set profit = group['net'] %}    
            {% endif %}
            <tr>
                <td><a href = "/groups/describe?group_id={{ group['id'] }}">{{ group['name'] }}</td>
                <td>{{ group['location'] }}</td>
                <td>{{ group['price'] }}</td>
                <td>{{ group['expense'] }}</td>
                <td>{{ group[price] - profit }}</td>
                <td>{{ group['date'] }}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>