<html>
{% extends "layout.html" %}
{% block content %}
<table width=100%>
    <tr>
        <td>
            <div style="float:left;width:50%;">
                {% if group_id[0]['id'] != 2 %}<a href = "/groups/describe?group_id={{ group_id[0]['id'] - 1 }}">Previous Group</a>{% endif %}
            </div>
            <div align="center" style="float:middle;width:50%;">
                <a href = "/groups/modify?group_id={{ group_id[0]['id'] + 1 }}">Modify Group</a>
            </div>
            <div align="right" style="float:right;width:50%;">
                {% if group_id[0]['id'] != max_group_id['id'] %}<a href = "/groups/describe?group_id={{ group_id[0]['id'] + 1 }}">Next Group</a>{% endif %}
            </div>
        </td>
    </tr>
</table>
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Date</th>
            <th>Purchase</th>
            <th>Sale</th>
            <th>Profit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ group_id[0]['name'] }}</td>
            <td>{{ group_id[0]['date'] }}</td>
            <td>${{ group_id[0]['price'] }}</td>
            <td>${{ sold_price }}</td>
            <td>${{ sold_price - group_id[0]['price']}}</td>
        </tr>
    </tbody>
</table>
<br>
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Sold</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            {% if item['sold'] == 0 %}
                {% set color = 'black' %}
            {% elif item['sold'] == 2 %}
                {% set color = 'green' %}
            {% else %}
                {% set color = 'red' %}
            {% endif %}
            <td><a style = color:{{ color }} href = "/items/describe?item={{ item['id'] }}">{{ item['name'] }}</td>
            <td>{% if item['sold'] == 0 %}False{% elif item['sold'] == 2 %}Not Selling{% else %}True{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>