<html>
{% extends "layout.html" %}
{% block content %}
<table width=100%>
    <tr>
        <td>
            <div style="float:left;width:25%;">
                {% if group_id[0]['id'] != 2 %}<a href = "/groups/describe?group_id={{ group_id[0]['id'] - 1 }}">Previous Group</a>{% endif %}
            </div>
            <div align="right" style="float:right;width:25%;">
                {% if group_id[0]['id'] != max_group_id['id'] %}<a href = "/groups/describe?group_id={{ group_id[0]['id'] + 1 }}">Next Group</a>{% endif %}
            </div>
        </td>
    </tr>
</table>
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Date</th>
            <th>Purchase</th>
            <th>Sale</th>
            <th>Profit</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ group_id[0]['name'] }}</td>
            <td><a href = "/groups/list?date={{ group_id[0]['date'] }}">{{ group_id[0]['date'] }}</a></td>
            <td>${{ group_id[0]['price'] }}</td>
            <td>${{ sold_price }}</td>
            <td>${{ sold_price - group_id[0]['price']}}</td>
            <td><a href = "/groups/modify?group_id={{ group_id[0]['id'] }}">Modify Group</a></td>
        </tr>
    </tbody>
</table>
<br>
<form method="POST" action="">
    {{ form.hidden_tag() }}
<div class="form-group">
    {{ form.button(class="btn btn-outline-info") }}
</div>
</form>
<br>
<table class="blueTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th> 
            <th>Sold</th>
            <th>Net</th>
        </tr>
    </thead>
    <tbody>
        {% set ns.count = 1 %}
        {% for item in items %}
        <tr>
            <td>{{ ns.count }}</td>
            {% if item['sold'] == 0 %}
                {% set color = 'black' %}
            {% else %}
                {% set color = 'red' %}
            {% endif %}
            <td><a style = color:{{ color }} href = "/items/describe?item={{ item['id'] }}">{{ item['name'] }}</td>
            <td>{% if item['sold'] == 0 %}False{% elif item['sold'] == 2 %}Not Selling{% else %}True{% endif %}</td>
            <td>{{ item['net'] }}</td>
        {% set ns.count = ns.count + 1 %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if group_id[0]['image'] %}
<br>
<br>
<center>
	<div>
		<img src="{{ url_for('static', filename='uploads/' + group_id[0]['image']) }}" width=75% height=auto>
	</div>
</center>
{% endif %}
{% endblock content %}
</html>