<HTML>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Purchases</th> 
            <th>Sales</th>
            <th>Profit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>${{ profit[1] }}</td>
            <td>${{ profit[0] }}</td>
            <td>${{ profit[0] - profit[1]}}</td>
        </tr>
    </tbody>
</table>

<BR><BR><BR>
<table class="blueTable">
    <thead>
        <tr>
            <th>Date</th> 
            <th>Profit</th>
        </tr>
    </thead>
    <tbody>
        {% for sold_date in sold_dates %}
            {% for purchased_date in purchased_dates %}
                {% if purchased_date['date'] == sold_date['date'] %}
        <tr>
            <td>{{ sold_date['date'] }}</td>
            <td>${{ sold_date['net'] - purchased_date['price'] }}</td>
        </tr>
               {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</HTML>