<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Sold</th>
            <th>Purchase Date</th>
            <th>Group ID</th> 
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td><a href = "/items/describe?item={{ item['id'] }}">{{ item['name'] }}</td>
            <td>{% if item['sold'] == 0 %}False{% else %}True{% endif %}</td>
            <td>{{ item['date'] }}</td>
            <td><a href = "/groups/describe?group_id={{ item['group_id'] }}">{{ item['group_id'] }}</a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>