<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <td>ID</td> 
            <td>Name</td> 
            <td>Platform</td>
            <td>Sold</td>
            <td>Price</td>
            <td>Date</td>
            <td>Location</td>
        </tr>
    </thead>
    <tbody>
        {% for info in item %}
        <tr>
            <td>{{ info['id'] }}</td>
            <td>{{ info['name'] }}</td>
            <td>{{ info['platform'] }}</td>
            <td>{% if info['sold'] == 0 %}False{% else %}True{% endif %}</td>
        {% endfor %}
        {% for info in purchase %}
            <td>{{ info['price'] }}</td>
            <td>{{ info['date'] }}</td>
        {% endfor %}
            <td>{{ location }}</td>
        </tr>
    </tbody>
</table>
{% endblock content %}
</html>