<html>
{% extends "layout.html" %}
{% block content %}
<h3>Item Info</h3>
<table class="blueTable">
    <thead>
        <tr>
            <td>ID</td> 
            <td>Name</td> 
            <td>Platform</td>
            <td>Sold</td>
            {% if item[0]['group_id'] %}<td>Group</td>{% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ item[0]['id'] }}</td>
            <td>{{ item[0]['name'] }}</td>
            <td>{{ item[0]['platform'] }}</td>
            <td>{% if sold_state %}True{% else %}False{% endif %}</td>
            {% if item[0]['group_id'] %}<td><a href = "/groups/describe?group_id={{ group['id'] }}">{{ group['id'] }}</td>{% endif %}
        </tr>
    </tbody>
</table>
<br>
<table class="blueTable">
    <thead>
        <tr>
            <td>Category</td>
            <td>Price</td>
            <td>Date</td>
            <td>Location</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Purchase</td>
            <td>{{ item[0]['price'] }}</td>
            <td>{{ item[0]['date'] }}</td>
            <td>{{ item[0]['location'] }}</td>
        </tr>
        {% if sold_state %}
        <tr>
            <td>Sold</td>
            <td>{{ sold[0]['net'] }}</td>
            <td>{{ sold[0]['date'] }}</td>
            <td>{{ sold[0]['location'] }}</td>
        </tr>
        <tr>
            <td>Profit</td>
            <td>{{ sold[0]['net'] - item[0]['price'] }}</td>
            <td>{{ sold[0]['date'] - item[0]['date'] }}</td>
            <td>NA</td>
        </tr>
        {% endif %}
    </tbody>
{% if sold_state %}
</table>
<br><h3>Sale Fees</h3>
<table class="blueTable">
    <thead>
        <tr>
            <td>Sold Price</td>    
            <td>Ebay Fee</td>
            <td>Paypal Fee</td>
            <td>Shipping Fee</td>
            <td>Net</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ sold[0]['price'] }}</td>
            <td>{{ sold[0]['ebay_fee'] }}</td>
            <td>{{ sold[0]['paypal_fee'] }}</td>
            <td>{{ sold[0]['shipping_fee'] }}</td>
            <td>{{ sold[0]['net'] }}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock content %}
</html>