<html>
{% extends "layout.html" %}
{% block content %}
<table width=100%>
    <tr>
        <td>
            <div style="float:left;width:25%;">
                {% if page != 1 %}<a href = "/items/sold_list?page={{ page - 1 }}">Previous Page</a>{% endif %}
            </div>
            <div align="right" style="float:right;width:25%;">
                {% if max_reached %}<a href = "/items/sold_list?page={{ page + 1 }}">Next Page</a>{% endif %}
            </div>
        </td>
    </tr>
</table>
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Purchase Date</th>
            <th>Sold Date</th>
            <th>Days to Sell</th>
            <th>Sold Net</th>
            <th>Group ID</th> 
        </tr>
    </thead>
    <tbody>
        {% for item in items[min_list:max_list] %}
        <tr>
            <td><a href = "/items/describe?item={{ item['id'] }}">{{ item['name'] }}</td>
            <td>{{ item['date'] }}</td>
            {% for sold_item in sold %}
                {% if item['id'] == sold_item['id'] %}
                    <td>{{ sold_item['date']}}</td>
                    <td>{{ (sold_item['date'] - item['date']).days }}</td>
                    <td>{{ sold_item['net']}}</td>
                {% endif %}
            {% endfor %}
            <td>{% if item['group_id'] == 1%}
                None
                {% elif item['group_id'] %}
                <a href = "/groups/describe?group_id={{ item['group_id'] }}">
                {{ item['group_id'] }}
                </a>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>