<html>
{% extends "layout.html" %}
{% block content %}
<table>
    <tbody>
        <tr>
            <td>
                <div style="float:left;width:50%;"><a href = "/items/describe?item={{ item[0]['id'] + 1 }}">Previous Item</a></div>
                <div style="float:right;width:50%;"><a href = "/items/describe?item={{ item[0]['id'] + 1 }}">Next Item</a></div>
            </td>
        </tr>
    </tbody>
</table>
<h3>Item Info</h3>
<table class="blueTable">
    <thead>
        <tr>
            <th>ID</th> 
            <th>Name</th> 
            <th>Sold</th>
            {% if item[0]['group_id'] != 1 %}<td>Group</td>{% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ item[0]['id'] }}</td>
            <td>{{ item[0]['name'] }}</td>
            <td>{% if sold_state %}True{% else %}False{% endif %}</td>
            {% if item[0]['group_id'] != 1 %}
            <td><a href = "/groups/describe?group_id={{ item[0]['group_id'] }}">{{ item[0]['group_id'] }}</td>
            {% endif %}
        </tr>
    </tbody>
</table>
<br>
<table class="blueTable">
    <thead>
        <tr>
            <th>Category</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Purchase</td>
            <td>{{ item[0]['price'] }}</td>
            <td>{{ item[0]['date'] }}</td>
        </tr>
        {% if sold_state %}
        <tr>
            <td>Sold</td>
            <td>{{ sold[0]['net'] }}</td>
            <td>{{ sold[0]['date'] }}</td>
        </tr>
        {% endif %}
    </tbody>
{% if sold_state %}
</table>
<br><h3>Sale Fees</h3>
<table class="blueTable">
    <thead>
        <tr>
            <th>Sold Price</th>    
            <th>Shipping Fee</th>
            <th>Net</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ sold[0]['price'] }}</td>
            <td>{{ sold[0]['shipping_fee'] }}</td>
            <td>{{ sold[0]['net'] }}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock content %}
</html>