<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Group ID</th>
            <th>Days in stock</th> 
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td><a href = "/items/describe?item={{ item['id'] }}">{{ item['name'] }}</td>
            <td>{% if item['group_id'] == 1%}
                None
                {% elif item['group_id'] %}
                <a href = "/groups/describe?group_id={{ item['group_id'] }}">
                {{ item['group_id'] }}
                </a>
                {% endif %}
            </td>
            <td>{{ (item['date'] - current_date).days }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>