<HTML>
{% extends "layout.html" %}
{% block content %}
<form class="form-inline">
    Group Search <input type="text" id = "livebox">
    <p id = "datalist"></p>
    Date <input type = "text" name= "date" />
    Location
    <select name="location">
        <option value="gsale">Garage Sale</option>
        <option value="online">Online</option>
        <option value="pawn">Pawn Shop</option>
        <option value="store">Store</option>
        <option value="thrift">Thrift Store</option>
    </select>
    Price <input type = "text" name= "price" />
</form>
{% endblock content %}
</html>