<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    .form-inline {  
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
</style>
</head>
<body>
<form class="form-inline">
    Group Search <input type="text" id = "livebox">
    <p id = "datalist"></p>
    Date <input type = "text" name= "date" />
    Location
    <select name="location">
        <option value="gsale">Garage Sale</option>
        <option value="online">Online</option>
        <option value="pawn">Pawn Shop</option>
        <option value="store">Store</option>
        <option value="thrift">Thrift Store</option>
    </select>
    Price <input type = "text" name= "price" />
</form>
</body>
<script>
    $(document).ready(function(){
        $("#livebox").on("input",function(e){
            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/livesearch",
                data:{text:$("#livebox").val()},
                success:function(res){
                    var data = "<form method='POST' action=''><select name='group'>";
                    $.each(res,function(index,value){
                        data += "<option value='" + value['id'] + "'>" + value['name'] + "</option>";
                    });
                    data += "</select></form>";
                    $("#datalist").html(data);
                }
            });
        });
    });
</script>
</html>