<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th> 
            <th>Platform</th>
            <th>Sold</th>
            <th>Purchase Date</th>
            <th>Sold Date</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            {% if item['sold'] == 0 %}
                {% set color = 'black' %}
            {% else %}
            {% set color = 'red' %}
            {% endif %}
            <td><a style = color:{{ color }} href = "/items/describe?item={{ item['id'] }}">{{ item['name'] }}</td>
            <td>{{ item['platform'] }}</td>
            <td>{% if item['sold'] == 0 %}False{% else %}True{% endif %}</td>
            <td>{{ item['date'] }}</td>
            {% set found = 0 %}
            {% for sold_item in sold %}
                {% if item['id'] in sold_item['id'] %}
                    <td>Sold</td>
                    {% set found = 1 %}
                    {% break %}
            {% endfor %}
            {% if not found %}
            <td>Not Sold</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>