<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dropdown.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Gsale App</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <div class="nav-item nav-link dropdown">
                <button class="dropbtn">Groups</button>
                <div class="dropdown-content">
                  <a href="/groups/list">Describe</a>
                  <a href="/groups/create">Create</a>
                </div>
              </div>
              <div class="nav-item nav-link dropdown">
                <button class="dropbtn">Items</button>
                <div class="dropdown-content">
                  <a href="/items/bought">Add</a>
                  <a href="/items/sold">Sell</a>
                  <a href="/items/sold_list">Sold</a>
                  <a href="/items/unsold_list">Unsold</a>
                </div>
              </div>
              <div class="nav-item nav-link dropdown">
                <button class="dropbtn">Expenses</button>
                <div class="dropdown-content">
                  <a href="/expense/item">Item</a>
                  <a href="/expense/gas">Gas</a>
                  <a href="/expense/store">Store</a>
                  <a href="/expense/list">List</a>
                </div>
              </div>
              <div class="nav-item nav-link dropdown">
                <button class="dropbtn">Reports</button>
                <div class="dropdown-content">
                  <a href="/reports/profit">Profit</a>
                  <a href="/reports/sales">Sales</a>
                  <a href="/reports/purchases">Purchases</a>
                  <a href="/reports/expenses">Expenses</a>
                  <a href="/reports/categories">Categories</a>
                </div>
               </div>
                <div class="nav-item nav-link dropdown">
                  <button class="dropbtn">Timer</button>
                  <div class="dropdown-content">
                    <a href="/timer/list">List</a>
                    <a href="/timer/start">Start Sales</a>
                  </div>
              </div>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if is_timer_running %}
          <Center><font color='red'>Timer Running</font></Center>
          {% endif %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

      const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
          v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
          )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

      // do the work...
      document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
          const table = th.closest('table');
          const tbody = table.querySelector('tbody');
          Array.from(tbody.querySelectorAll('tr'))
              .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
              .forEach(tr => tbody.appendChild(tr) );
      })));
    </script>
    <script>
      $(document).ready(function() {
        $('#type').prop("selectedIndex",0);
        $('#month').hide();
        $('#month').removeAttr('required');
        $('#month').removeAttr('data-error');
        $('#divMonth').hide();
        $('#divMonth').removeAttr('required');
        $('#divMonth').removeAttr('data-error');
        $('#year').hide();
        $('#year').removeAttr('required', '');
        $('#year').removeAttr('data-error', 'This field is required.');
        $('#divYear').hide();
        $('#divYear').removeAttr('required', '');
        $('#divYear').removeAttr('data-error', 'This field is required.');
        $('#type').on('change', function() {
          if (this.value == "Year") {
            $('#month').hide();
            $('#month').removeAttr('required');
            $('#month').removeAttr('data-error');
            $('#divMonth').hide();
            $('#divMonth').removeAttr('required');
            $('#divMonth').removeAttr('data-error');
            $('#year').show();
            $('#year').attr('required', '');
            $('#year').attr('data-error', 'This field is required.');
            $('#divYear').show();
            $('#divYear').attr('required', '');
            $('#divYear').attr('data-error', 'This field is required.');
            $('#date').hide();
            $('#date').removeAttr('required');
            $('#date').removeAttr('data-error');
            $('#divDate').hide();
            $('#divDate').removeAttr('required');
            $('#divDate').removeAttr('data-error');
          } else if (this.value == "Month") {
            $('#month').show();
            $('#month').attr('required', '');
            $('#month').attr('data-error', 'This field is required.');
            $('#divMonth').show();
            $('#divMonth').attr('required', '');
            $('#divMonth').attr('data-error', 'This field is required.');
            $('#year').show();
            $('#year').attr('required', '');
            $('#year').attr('data-error', 'This field is required.');
            $('#divYear').show();
            $('#divYear').attr('required', '');
            $('#divYear').attr('data-error', 'This field is required.');
            $('#date').hide();
            $('#date').removeAttr('required');
            $('#date').removeAttr('data-error');
            $('#divDate').hide();
            $('#divDate').removeAttr('required');
            $('#divDate').removeAttr('data-error');
          } else {
            $('#date').show();
            $('#date').attr('required');
            $('#date').attr('data-error');
            $('#divDate').show();
            $('#divDate').attr('required');
            $('#divDate').attr('data-error');
            $('#month').hide();
            $('#month').removeAttr('required');
            $('#month').removeAttr('data-error');
            $('#divMonth').hide();
            $('#divMonth').removeAttr('required');
            $('#divMonth').removeAttr('data-error');
            $('#year').hide();
            $('#year').removeAttr('required');
            $('#year').removeAttr('data-error');
            $('#divYear').hide();
            $('#divYear').removeAttr('required');
            $('#divYear').removeAttr('data-error');
          }
        });
      });
    </script>
    <script>
      $(document).ready(function() {
          var addCount = 1;
          $("#addNewField").click(function() {
              var newInput = $("#itemList");
              newInput.append(GetDynamicTextBox("", addCount));
              $("#itemList").append(newInput);
              addCount += 1;
          });
          $("#removeNewField").click(function() {
              addCount -= 1;
              $('#item_'+ addCount).remove();
          });
      });

      function GetDynamicTextBox(value, addCount) {
          return '<div class="form-group" id="item_' + addCount + '">' + '<input name = "item' + addCount + '"type="text" value = "' + value + '" />' +
          '</div>' ;
      }
    </script>
  </body>
</html>