<!DOCTYPE html>
<html>
<body>

<script>
var x = document.getElementById("demo");

function getLocation() {
  console.log("Getting Location")
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
    console.log("Showing Location")
    console.log("Latitude: " + position.coords.latitude + " Longitude: " + position.coords.longitude);
}

window.onload = function() {
    console.log("Running function")
    getLocation();
};
</script>
</body>
</html>

