<HTML>
{% extends "layout.html" %}
{% block content %}

{% set ns = namespace() %}
{% set ns.category_id = '' %}

{% for item_category in item_categories %}

{% if item_category['category_id'] != ns.category_id %}
</tbody>
</table>
<table class="blueTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th> 
        </tr>
    </thead>
    <tbody>
{% ns.category_id = item_category['category_id'] %}
{% end if %}

{% if item_category['category_id'] == ns.category_id %}
        <tr>
            <td>{{ item_category['name'] }}</td>
            <td>{{ item_category['type'] }}</td>
        </tr>
        {% endfor %}

{% end if %}

{% end for %}
    </tbody>
</table>
{% endblock content %}
</HTML>