<HTML>
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Selection</legend>
            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
                {% if form.type.errors %}
                    {{ form.type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="divMonth">
                {{ form.month.label() }}
                {% if form.month.errors %}
                    {{ form.month(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.month.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.month(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.year.label(class="form-control-label") }}
                {% if form.year.errors %}
                    {{ form.year(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.year.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.year(class="form-control form-control-lg") }}
                {% endif %}
            </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    </form>
</div>

<table class="blueTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Sold Price</th>
            <th>Shipping Fee</th>
            <th>Shipping Percentage Fee</th>
            <th>Net</th>
        </tr>
    </thead>
    <tbody>
        {% set ns = namespace() %}
        {% set ns.price = 0 %}
        {% set ns.shipping_fee = 0 %}
        {% set ns.net = 0 %}
        {% for sold_date in sold_dates %}
                {% set ns.net = ns.net + sold_date['net'] %}
                {% set ns.price = ns.price + sold_date['price'] %}
                {% set ns.shipping_fee = ns.shipping_fee + sold_date['shipping_fee'] %}
        <tr>
            <td><a href = "/items/sold_list?date={{ sold_date['date'] }}">{{ sold_date['date'] }}</a></td>
            <td>{{ sold_date['price'] }}</td>
            <td>{{ sold_date['shipping_fee'] }}</td>
            {% if sold_date['price'] != 0 %}
                <td>{{ '%0.2f'| format((sold_date['shipping_fee'] / sold_date['price'])*100) }}%</td>
            {% else %}
                <td>0</td>
            {% endif %}
            <td>{{ sold_date['net'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<table class="blueTable">
    <thead>
        <tr>
            <th>Total</th>
            <th>Sold Price</th>
            <th>Shipping Fee</th>
            <th>Shipping Percentage Fee</th>
            <th>Net</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>${{ ns.price }}</td>
            <td>${{ ns.shipping_fee }}</td>
            {% if ns.price != 0 %}
                <td>{{ '%0.2f'| format((ns.shipping_fee / ns.price)*100) }}%</td>
            {% else %}
                <td>0</td>
            {% endif %}
            <td>${{ ns.net }}</td>
        </tr>
    </tbody>
</table>
{% endblock content %}
</HTML>