<HTML>
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Selection</legend>
            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
                {% if form.type.errors %}
                    {{ form.type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="divDate">
                {{ form.date.label() }}
                {% if form.date.errors %}
                    {{ form.date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="divMonth">
                {{ form.month.label() }}
                {% if form.month.errors %}
                    {{ form.month(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.month.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.month(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="divYear">
                {{ form.year.label(class="form-control-label") }}
                {% if form.year.errors %}
                    {{ form.year(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.year.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.year(class="form-control form-control-lg") }}
                {% endif %}
            </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
    </form>
</div>

<table class="blueTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Purchase Price</th> 
            <th>Profit</th>
            <th>ROI</th>
        </tr>
    </thead>
    <tbody>
        {% set ns = namespace() %}
        {% set ns.sum = 0 %}
        {% set ns.purchase = 0 %}
        {% for sold_date in sold_dates %}
            {% for purchased_date in purchased_dates %}
                {% if purchased_date['date'] == sold_date['date'] %}
                {% set total = sold_date['net'] - purchased_date['price'] %}
                {% set ns.sum = ns.sum + total %}
                {% set ns.purchase = ns.purchase + purchased_date['price'] %}
        <tr>
            <td><a href = "/groups/list?date={{ sold_date['date'] }}">{{ sold_date['date'] }}</a></td>
            <td>{{ purchased_date['price'] }}</td>
            <td>{{ total }}</td>
            {% if total < 0 %}<td style="color:#EE4B2B">{% else %}<td>{% endif %}{{ (((total + purchased_date['price'])/purchased_date['price']) * 100)| round }}%</td>
        </tr>
               {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
<br>
Expenses
<table class="blueTable">
    <thead>
        <tr>
            <td>Expenses</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        {% set ns.expense = 0 %}
        {% for expense in expenses %}
                {% if expense['price'] %}
                {% set ns.expense = ns.expense + expense['price'] %}
                {% endif %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>${{ ns.expense }}</td>
        </tr>
    </tbody>
</table>
<br>
Total
<table class="blueTable">
    <thead>
        <tr>
            <th>Total</th>
            <th>Purchase Price</th> 
            <th>Profit</th>
            <th>ROI</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Total</td>
            <td>${{ ns.purchase }}</td>
            <td>${{ ns.sum }}</td>
            <td>
                {{ ((ns.sum/ns.purchase) * 100)| round }}%
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
{% endblock content %}
</HTML>