<html>
{% extends "layout.html" %}
{% block content %}
<table class="blueTable">
    <thead>
        <tr>
            <th>Type</th>
            <th>Group ID</th>
            <th>Item ID</th> 
            <th>Start Time</th>
        </tr>
    </thead>
    <tbody>
        {% for active_timer in active_timers %}
        <tr>
            <td>{{ active_timer['type'] }}</td>
            {% if active_timer['group_id'] %}
            <td><a href = "/groups/describe?group_id={{ active_timer['group_id'] }}">{{ active_timer['group_id'] }}</a></td>
            {% else %}<td></td>
            {% endif %}
            {% if active_timer['id'] %}
            <td><a href = "/items/describe?id={{ active_timer['id'] }}">{{ active_timer['id'] }}</a></td>
            {% else %}<td></td>
            {% endif %}
            <td>{{ active_timer['start_time'].strftime('%m-%d-%Y %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
</html>